* {
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

:root {
  --green10: #78b454;
  --green20: #33A76F;
  --blue10: #295ba7;
}

i,
span {
  color: white;
}

header {
  display: flex;
  background: url(../assets/patternECOStransparente.png),
    linear-gradient(to bottom right, var(--blue10), var(--green10));
  display: flex;
  align-items: center;
}

header a > img {
  padding: 12px 12px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul div {
  display: flex;
}

.nav-esquerda {
  padding-left: 20px;
}

.nav-esquerda div i + span {
  margin-left: 10px;
}

.nav-esquerda div input {
  margin-left: 20px;
}

.nav-esquerda .icons,
.nav-direita .icons {
  margin-top: 7px;
}

.nav-direita {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.nav-direita li + li {
  padding-left: 20px;
}

.input-search {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
}

nav input[type='text'] {
  background: rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 30px;
  border: none;
}

input::placeholder {
  padding-left: 5px;
  color: white;
}

nav input[type='text']:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 1px solid var(--green10);
}

/* Body */

body {
  background-color: #eff2f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* Noticias */

.news {
  width: calc(100% - 41%);
  padding-top: 10px;
  border-radius: 5px;
  background: #f8f9fb;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

h5 {
  font-size: 12px;
  text-align: justify;
  font-weight: normal;
  border-bottom: solid 1px #d9d9d9cb;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}


.card-news > figure > img {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text div > h2 {
  padding: 5px 10px;
  font-size: 16px;
}

.card-text div > p {
  padding: 5px 10px;
  font-size: 15px;
}

.heart {
  color: #DC3545;
}

.comments, .views {
  color: #6C757D;
}


.heart + span , .comments + span, .views + span{
  color: #6C757D;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info > div {
  display: flex;
}

.card-info > div div + div {
  padding-left: 15px;
}

.card-info > div div + div:last-child {
  padding-right: 15px;
}

/* Processos */

.processos {
  width: calc(100% - 62%);
  height: 370px;
  padding-top: 10px;
  border-radius: 5px;
  background: #f8f9fb;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.card-button {
  width: 140px;
  height: 85px;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
  flex: 0 0 29%;
  margin: .5rem .5rem;
  display: flex;
  align-items: center;
}

.card-pointer {
  color: var(--green20);
  font-size: 12px;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  flex: 0 0 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.buttons-nav {
  font-size: 30px;
}

.buttons-nav, .buttons-nav + span{
  color: var(--green20);

}

.card-button:hover {
  background: linear-gradient(to right, #2ba962 0%, #2e6a99 98%, #2e6a99 100%);

}

.card-button:hover .buttons-nav, .card-button:hover .buttons-nav + span {
  color: white;
}

